<div class="modal-background"></div>
<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create your new account</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" {{action "closeCreateAccountModal" }}>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form {{action 'submit' on='submit'}}>
          <div class="form-group">
            <label for="name">Name</label>
            {{input type="text" class="form-control" id="name" aria-describedby="nameHelp" placeholder="Full Name" value=user.name}}
          </div>
          <div class="form-group">
            <label for="email">Email address</label>
            {{input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email" value=user.email}}
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            {{input type="password" class="form-control" id="password" aria-describedby="passwordHelp" placeholder="Enter Password" value=user.password}}
          </div>
          <div class="form-group">
            <label for="passwordConfirmation">Password</label>
            {{input type="password" class="form-control" id="passwordConfirmation" aria-describedby="passwordHelp" placeholder="Enter Password Again" value=user.passwordConfirmation}}
          </div>
          <button type="submit" class="btn btn-primary">Create account</button>
        </form>

        {{#if errorMessage}}
          {{errorMessage}}
        {{/if}}
      </div>
    </div>
  </div>
</div>