<div class="modal-background"></div>
<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Log in to your account</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" {{action "closeLoginModal" }}>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form {{action 'authenticate' on='submit'}}>
          <div class="form-group">
            <label for="email">Email address</label>
            {{input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email" value=user.email}}
{{!--             <input type="email" class="form-control" id=email aria-describedby="emailHelp" placeholder="Email" value=user.email>--}}
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            {{input type="password" class="form-control" id="password" aria-describedby="passwordHelp" placeholder="Password" value=user.password}}
{{!--             <input type="password" class="form-control" id=password placeholder="Password" value=user.password> --}}
          </div>
          <button type="submit" class="btn btn-primary">Log In</button>
        </form>
      </div>
      <div class="modal-footer">
        <div class="nav-item pull-left">{{ create-account-button }}</div>
{{!--         <button {{action "showCreateAccountModal"}} type="button" class="btn btn-secondary">Create Account</button>
        {{#if create-account-button.showCreateAccountModal }}
          {{create-account-modal}}
        {{/if}}--}}
      </div>
    </div>
  </div>
</div>