<nav class="navbar navbar-expand-md">
  <a class="navbar-brand" href="/">Savant</a>
  <div class="navbar-buttons">
    {{#unless session.isAuthenticated }}
      <div class="nav-item pull-left">{{ login-button }}</div>
      <div class="nav-item pull-left">{{ create-account-button }}</div>
    {{/unless}}
      <div class="nav-item pull-left">{{ search-bar }}</div>
      <div class="nav-item pull-left">{{ hamburger-menu }}</div>
    {{#if session.isAuthenticated }}
      <div class="nav-item pull-left">{{ user-menu }}</div>
    {{/if}}
  </div>
</nav>